{% extends 'base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
{% block title %}
   Saudi-rates
{% endblock %}
</head>
{% block content %}
<body>
<div class="row">

        <img src="{% static 'img/car-9.jpg' %}" alt="" class="w-100 col-lg-12">
     <div class="container">
        <h1 class="text-center text-uppercase text-primary py-2" style="font-family:Garamond"> ABC Limousine Saudi Arabia Rates</h1><hr>
        <h2 style="font-family:Courier New">Bahrain to Saudi Arabia Limousine Rates</h2><br><hr>
    <div class="container">
        <div class="row bg-secondary py-3">

<!--            <table>-->
<!--                <thead>-->
<!--                <tr>-->

            <div class="col-6 col-lg-4" style="font-family:Helvetica;font-size:20px;font-weight:bold;">Chauffeured Service</div>
            <div class="col-6 col-lg-4" style="font-family:Helvetica;font-size:20px;font-weight:bold;">Chauffeured Service</div>
            <div class="col-6 col-lg-4" style="font-family:Helvetica;font-size:20px;font-weight:bold;">Chauffeured Service</div>

                <div class="w-100"></div>
                    <div class="col-6 col-lg-4" style="font-family:Georgia;font-size:30px;color:olive;font-style:italic;font-weight:900;">Bahrain to KSA</div>
                    <div class="col-6 col-lg-4" style="font-family:Georgia;font-size:30px;color:olive;font-style:italic;font-weight:900;">Sedan</div>
                    <div class="col-6 col-lg-4" style="font-family:Georgia;font-size:30px;color:olive;font-style:italic;font-weight:900;">SUV</div>
                <div class="w-100"></div><br>
                <div class="col-6 col-lg-4" style="font-family:Trebuchet MS;font-size:25px;color:black;">Alkhobar – One Way</div>
                <div class="col-6 col-lg-4" style="font-family:Trebuchet MS;font-size:25px;color:black;">40.00 BD</div>
                <div class="col-6 col-lg-4" style="font-family:Trebuchet MS;font-size:25px;color:black;">45.00 BD</div>
                <div class="w-100"></div><br>
                <div class="col-6 col-lg-4" style="font-size:20px;font-family:Cambria">Per Day/8 Hours</div>
                <div class="col-6 col-lg-4" style="font-size:20px;font-family:Cambria">Per Day/8 Hours</div>
                <div class="col-6 col-lg-4" style="font-size:20px;font-family:Cambria">Per Day/8 Hours</div>
                <div class="w-100"></div>
                <div class="col-6 col-lg-4" style="font-family:Trebuchet MS;font-size:25px;color:black;">40.00 BD</div>
                <div class="col-6 col-lg-4" style="font-family:Trebuchet MS;font-size:25px;color:black;">200.00 BD</div>
                <div class="col-6 col-lg-4" style="font-family:Trebuchet MS;font-size:25px;color:black;">100.00 BD</div>
                <div class="w-100"></div><br>
                <div class="col-6 col-lg-4" style="font-size:20px;font-family:Cambria">Extra Hours</div>
                <div class="col-6 col-lg-4" style="font-size:20px;font-family:Cambria">Extra Hours</div>
                <div class="col-6 col-lg-4" style="font-size:20px;font-family:Cambria">Extra Hours</div>
                <div class="w-100"></div>
                <div class="col-6 col-lg-4" style="font-family:Trebuchet MS;font-size:25px;color:black;">45.00 BD per hour</div>
                <div class="col-6 col-lg-4" style="font-family:Trebuchet MS;font-size:25px;color:black;">20.00 BD per hour</div>
                <div class="col-6 col-lg-4" style="font-family:Trebuchet MS;font-size:25px;color:black;">10.00 BD per hour</div>

<!--                </tr>-->
<!--                <th>Bahrain to KSA</th>-->
<!--                <th>Sedan</th>-->
<!--                <th>SUV</th>-->
<!--                </thead>-->


<!--            </table>-->

            </div>

         </div>
     </div>
</div>

</body>
{% endblock %}
</html>